body {
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: scroll;
  height: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
  
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
  
#name {
  display: block;
  color: black;
  text-align: center;
  padding: 40px 70px;
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
}
  
li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 50px 40px;
  text-decoration: none;
  font-size: 20px;
}
  
li a:hover {
  text-decoration: underline;
}
  
.active {
  font-weight: bolder;
}

.construction_message {
  padding-top: 150px;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
  }

  li {
    display: none;
  }
    
  #name {
    margin: 0;
    padding: 30px 0px;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
  }

  #menuButton {
    position: fixed;
    top: 5%;
    left: 90%
  }

  /* The sidepanel menu */
  .sidepanel {
    height: 250px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff; /* grey*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }

  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    text-align: center;
  }

  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {

    text-decoration: underline;
  }

  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style the button that is used to open the sidepanel */
  .openbtn {
    position: relative;
    left: 90%;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
  }
}

/* <600px, 601px, 768px, 992px, >1200px */
