#text {
  padding: 150px 160px;
  font-size: 90px;
  text-align: left;
  line-height: 1.5;
}

#homeImage {
  padding: 150px 100px;
  height: 403px;
  width: 284px;
  float: right;
}

@media (max-width: 600px) {
  #homeImage {
    position: relative;
    padding: 100px 75px;
    height: 403px;
    width: 284px;
  }
}